<header class="main-header">
    <div class="header-title">Kanban Project Management Tool</div>
    
    <div class="header-icons">
        <a href="help.html" class="icon-help">
            <img src="../assets/img/help.svg" alt="Help">
        </a>
        <div class="user-profile" onclick="toggleDropdown()">
            <div class="user-avatar">G</div>
            <div id="headerDropdown" class="header-dropdown d-none">
                <a href="legal_notice.html">Legal Notice</a>
                <a href="privacy_policy.html">Privacy Policy</a>
                <a href="#" onclick="logout(event)">Log out</a>
            </div>
        </div>
    </div>
</header>
