<div class="mobile-menu">
    <a href="summary.html" class="mobile-nav-item" id="mobile-nav-summary">
        <img src="../assets/img/summary.svg" alt="Summary">
        <span>Summary</span>
    </a>
    <a href="add_task.html" class="mobile-nav-item" id="mobile-nav-add_task">
        <img src="../assets/img/Add-task.svg" alt="Add Task">
        <span>Add Task</span>
    </a>
    <a href="board.html" class="mobile-nav-item" id="mobile-nav-board">
        <img src="../assets/img/Board.svg" alt="Board">
        <span>Board</span>
    </a>
    <a href="contacts.html" class="mobile-nav-item" id="mobile-nav-contacts">
        <img src="../assets/img/contacts.svg" alt="Contacts">
        <span>Contacts</span>
    </a>
</div>
